.container {
	display: flex;
	justify-content: center;
}

.center {
	text-align: center;
}

.hide {
	display: none;
}

.bigger {
	display: flex;
	height: 1000px;
	width: 400px;
	background-color: pink;
}